@model IEnumerable<StuffAndThings.Models.LogModel>

@{
    ViewData["Title"] = "Catalog Log ";
}

<script src="~/js/jquery-1.2.6.pack.js"></script>
<script src="~/js/jquery.maskedinput-1.1.4.pack.js"></script>


<header class="bg-danger py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> Catalog Log </h1>
        </div>
    </div>
</header>

<div class="m-5 shadow p-3 mb-5">
    <p>
        <a asp-action="Create" hidden>
            <button class="btn btn-primary">
                Create New
            </button>
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JsonObject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Action)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" cols="5">@Html.DisplayFor(modelItem => item.JsonObject)</textarea>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" hidden>Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" hidden>Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" hidden>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
