@using StuffAndThings.Models.Enums
@model StuffAndThings.Models.OrderModel

<style>
    .value-button {
        display: inline-block;
        /*border: 1px solid #ddd;*/
        margin: 0px;
        width: 40px;
        height: -1px;
        text-align: center;
        vertical-align: middle;
        /*padding: 1px;*/
        /*background: #eee;*/
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .value-button:hover {
        cursor: pointer;
    }

    input#number {
        text-align: center;
        border: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        width: 11%;
        height: 25px;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                @{
                    var count = 0;
                    foreach (var item in Model.OrderItems)
                    {
                        count += item.Quantity;
                    }
                    <span class="badge badge-secondary badge-pill">@count</span>
                }
            </h4>
            <ul class="list-group mb-3">
                @foreach (var item in Model.OrderItems)
                {
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="my-0">@item.Sku.Product.Name @item.Sku.Name</h6>
                            <small class="text-muted">@item.Sku.Barcode</small>
                        </div>
                        <div class="value-button" id="@item.Sku.Id" onclick="RemoveItemToCart(this)" value="Decrease Value">-</div>
                        <input type="number" id="number" value="@item.Quantity" />
                        <div class="value-button" id="@item.Sku.Id" onclick="AddItemToCart(this)" value="Increase Value">+</div>
                        <strong><span class="text-muted">R$@item.Sku.Price</span></strong>
                    </div>
                </li>
                }
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>R$@Model.Total</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form asp-action="Finalize">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="firstName">Full name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" asp-for="Buyer.FullName" value="@Model.Buyer.FullName" readonly>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" value="@User.Identity.Name" readonly>
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="Street">Street</label>
                            <input type="text" asp-for="Address.Id" class="form-control" id="Street" placeholder="Bourbon Street" hidden>
                            <input type="text" asp-for="Address.Street" class="form-control" id="Street" placeholder="Bourbon Street" required>
                            <div class="invalid-feedback">
                                Please enter your shipping street.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Cep">Cep</label>
                            <input type="text" asp-for="Address.CEP" class="form-control" id="cep" placeholder="70116-3105" required>
                            <div class="invalid-feedback">
                                Please enter your cep.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Number">Number</label>
                            <input type="text" asp-for="Address.Number" class="form-control" id="number2" placeholder="1234" required>
                            <div class="invalid-feedback">
                                Please enter your number.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="City">City</label>
                            <input type="text" asp-for="Address.City" class="form-control" id="City" placeholder="Fullerton" required>
                            <div class="invalid-feedback">
                                Please enter your city.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="Country">Country</label>
                            <input type="text" asp-for="Address.Country" class="form-control" id="Country" placeholder="EUA" required>
                            <div class="invalid-feedback">
                                Please enter your country.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label asp-for="Address.State">State</label>
                            <select onmousedown="if(this.options.length>8){this.size=8;}" onblur="this.size=0;" onchange='this.size=0;' class="custom-select d-block w-100" asp-for="Address.State" asp-items="Html.GetEnumSelectList<StateEnum>()" id="state" required>
                                <option value="">Choose...</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                    </div>

                    <h4 class="mb-3">Payment</h4>
                    <input type="text" asp-for="Payment.Id" class="form-control" id="Payment" hidden>
                    <input asp-for="Payment.Method" class="form-control" id="PaymentMethod" hidden>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="pix" name="paymentMethod" type="radio" class="custom-control-input" onclick="ShowHideRadio()">
                            <label class="custom-control-label" for="pix">Pix</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="credit" type="radio" class="custom-control-input" onclick="ShowHideRadio()">
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="billticket" type="radio" class="custom-control-input" onclick="ShowHideRadio()">
                            <label class="custom-control-label" for="billticket">BankSlip</label>
                        </div>
                    </div>

                    <div id="payCodeDIV" style="display: none">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <h4 id="PayCodeAuth"></h4>
                            </div>
                        </div>
                    </div>

                    <div id="creditDIV" style="display: none">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input type="text" asp-for="Payment.NameOnCard" class="form-control" id="cc-name" placeholder="">
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input type="text" asp-for="Payment.CardNumber" class="form-control" id="cc-number" placeholder="">
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" asp-for="Payment.Expiration" class="form-control" id="cc-expiration" placeholder="">
                                <div class="invalid-feedback">
                                    Expiration date required
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" asp-for="Payment.CVV" id="cc-cvv" placeholder="">
                                <div class="invalid-feedback">
                                    Security code required
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <input type="submit" value="Finalize" class="btn btn-primary" />
                </form>
            </form>
        </div>
    </div>
</div>

<script>
    function AddItemToCart(obj) {
        $.ajax({
            type: "GET",
            url: "/Order/AddItemToCart?skuId="+obj.id
        }).done(function (order) {
            window.location.reload()
        })
    }

    function ShowHideRadio() {
        if (document.getElementById('pix').checked) {
            document.getElementById('payCodeDIV').style.display = 'block';
            document.getElementById('creditDIV').style.display = 'none';
            GeneratePaymentMethodAuth('pix');
            $("#PaymentMethod").val('1');
            console.log("deu o pix")
        }

        if (document.getElementById('credit').checked) {
            document.getElementById('payCodeDIV').style.display = 'none';
            document.getElementById('creditDIV').style.display = 'block';
            $("#PaymentMethod").val('2');
            console.log("deu o credit")
        }

        if (document.getElementById('billticket').checked) {
            document.getElementById('creditDIV').style.display = 'none';
            document.getElementById('payCodeDIV').style.display = 'block';
            GeneratePaymentMethodAuth('bankslip');
            $("#PaymentMethod").val('3');
            console.log("deu o bill")
        }

    }

    function RemoveItemToCart(obj) {
        $.ajax({
            type: "GET",
            url: "/Order/RemoveItemFromCart?skuId="+obj.id
        }).done(function (order) {
            window.location.reload()
        })
    }

    function GeneratePaymentMethodAuth(obj) {
        $.ajax({
            type: "GET",
            url: "/Order/GeneratePaymentMethodAuth?paymentMethod="+obj
        }).done(function (PayCode) {
            $("#PayCodeAuth").html(PayCode)
            console.log(PayCode)
        })
    }

</script>