@*@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}*@


@page
@model RegisterConfirmationModel
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/css/Login.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="~/jq/jquery-3.6.0.min.js"></script>

<style>
    body {
        background-color: #861657;
        background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
    }
</style>
@*@{
        ViewData["Title"] = "Register";
    }*@
@*<h1>@ViewData["Title"]</h1>*@

<div class="wrapper">
    <div id="formContent" class="bg-light">
        <div class="center ">
          

            @{
                if (@Model.DisplayConfirmAccountLink)
                {

                    <h4>
                         <a class="btn btn-primary" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </h4>

                   

                }
                else
                {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                }
            }
        </div>
    </div>
    <style>
        .center {
            padding: 30px 0;
            text-align: center;
        }
    </style>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
