@model IEnumerable<StuffAndThings.Models.SkuModel>

@{
    ViewData["Title"] = "Skus Index";
}

<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> Skus </h1>
        </div>
    </div>
</header>
<div class="m-5 shadow p-3 mb-5">
    <p>
        <a asp-action="Create">
            <button class="btn btn-primary">
                Create New
            </button>
        </a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>  
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div>
                    <p class="rounded-sm" style="background-color: @item.Color; width: 25px; height: 25px; margin-left: 9px; border: solid"></p>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="d-flex justify-content-center">
                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-info mr-1">Edit</button></a>
                <a asp-action="DeleteSkuById" asp-route-id="@item.Id"><button class="btn btn-danger mr-1">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>