@model IEnumerable<StuffAndThings.Models.SkuModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-monospace">Skus</h1>
<div class="m-5 shadow p-3 mb-5">
    <p>
        <a asp-action="Create">
            <button class="btn btn-primary">
                Create New
            </button>
        </a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div>
                    <p class="rounded-sm" style="background-color: @item.Color; width: 25px; height: 25px; margin-left: 9px; border: solid"></p>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>
</div>