@model IEnumerable<StuffAndThings.Models.SkuStocksModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center text-monospace">SkuStocks</h1>

<div class="m-5 shadow p-3 mb-5">
    <p>
        <a asp-action="Create">
            <button class="btn btn-primary">
                Create New
            </button>
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-info">Edit</button></a> |                     
                        <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
